streamlit
plotly
google-generativeai
numpy==1.26.4
pandas==2.1.4
scikit-learn==1.3.2
xgboost==1.7.6
joblib
langchain
langchain-google-genai
langchain-community
faiss-cpu
pypdf
sentence-transformers
langchain-groq
langchain-huggingface
python-dotenv
PIT 